<!DOCTYPE html>
<html>
<head>
    <title>Online Radio Globe</title>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
        #globe-container {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="globe-container"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.4/tween.min.js"></script>
    <script src="globe.js"></script>
</body>
</html>