<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio App - Stations</title>
</head>

<body>
    <h1>Radio App - Stations for {{ country_code }}</h1>

    <ul>
        {% for radio in radios %}
            <li>
                <a href="{{ radio['stream'] }}" target="_blank">{{ radio['name'] }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/">Back to Home</a>
</body>

</html>
